<h1 class="text-center mt-4">Log In</h1>

<div class="container bg-info rounded shadow" >
  <div class="row justify-content-center">
    <div class="col-10 mt-4">

<%= form_with(scope: :session, url:login_path) do |f| %>

  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"> <%= f.label :email %></label>
   <%= f.email_field :email, class: "form-control", placeholder: "Enter Email" %>
</div>
 <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"> <%= f.label :password %></label>
   <%= f.password_field :password, class: "form-control", placeholder: "Enter Your Password" %>
</div>

    <p>
    <%= f.submit "Login" , class: "btn btn-lg btn-success" %>
    </p>

<% end %>

</div>
</div>
</div>