<div id="page-content">


    <div class="container col-8 shadow" >
    <h2 class="text-center mt-4 bg-primary"><%= @article.title  %></h2>


<div class="row mt-4"> 
      <div class="card text-center">

            <div class="card-body">
              <div class="card-text bg-secondary text-white mt-4 mb-4" style="padding: 25px;"><%= @article.description%></div>
        
            </div>

            <div class="card-footer text-muted" style="background-color: silver;margin-bottom: 15px; ">
            
              

               <ul class="list-group list-group-flush" >
                <li class="list-group-item  rounded bg-white ">
              
                 <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-small btn-info" %> 
                 <%= link_to "Delete", @article, data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure you want to delete article: " + @article.title + "?"
                  }, class: "btn btn-small btn-danger" %>
                   <%= link_to 'Back To Listings', articles_path(), class: "btn btn-small btn-secondary" %> 
                  </li>
                 
              </ul>
              </div>
          
            </div>
      </div>
</div>
</div>




</div>