<h1 class="text-center mt-4">Create a new category</h1>

<div class="container bg-info rounded shadow" >
  <div class="row justify-content-center">
    <div class="col-10 mt-4">

<%= render "shared/errors", obj: @category %>

<%= form_with(model: @category, local: true) do |f| %>

  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"> <%= f.label :name, "Category Name: " %></label>
   <%= f.text_field :name, class: "form-control", placeholder: "Enter a category name" %>
</div>

    <p>
    <%= f.submit  class: "btn btn-lg btn-success" %>
    </p>

<% end %>

</div>
</div>
</div>

